body{
    margin: 0 auto;
    width: 100%;
    background-color: #211b1b;
    font-family: Helvetica;
}

html {
    scroll-behavior: smooth;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    margin:90 0 0;
    line-height: .9em;
    font-size: 10em;
    font-weight: 100;
    color: #d18d8d;
}

h2{
    margin: 90 0 0;
    font-size: 7em;
    font-weight: 100;
    color: #d18d8d;
}

h3{
    font-size: 2em;
    margin-bottom: 40;
    font-weight: 100;
    color: #d18d8d;
}

hr{
    margin-bottom: 6em;
    height: 1px;
    border-width: 0;
    background-color: #d18d8d;;
}

p{
    line-height: 1.8em;
    font-size: 1.1em;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #211b1b;
    z-index: 999;
}

header a{
    color: #d18d8d;
    text-decoration: none;
    margin: 0 10px;
    border: 2px solid transparent;
}

header a:hover{
    color: #dcdcdc;
}

header a.active {
    color: #dcdcdc;
    border-bottom-color: #dcdcdc;
}

.navbar{
    padding: 20px;
    text-align: right;
    display: block;
    line-height: 3em;
}

.container{
    display: block;
    max-width: 1200px;
    padding-top: 60px;
    margin: 120px 10px 200px;
    text-align: left;
    color: #dcdcdc;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paragraph{
    flex: 1;
    max-width: 50%;
    margin-bottom: 20px;
}

.photo{
    margin-left: 20px;
    text-align: right;
    flex: 1;
    max-width: 50%;
}

.project-button{
    position: relative;
    width: calc(50% - 16px);
    margin: 8px;
    float: left;
    overflow: hidden;
    height: auto;
}

.project-button img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.project-button p{
    text-align: left;
    margin: 10 10 15px;
    font-size: 1em;
    color: #dcdcdc;
}

.project-button .game-title{
    text-align: left;
    margin: 15px;
    color: #d18d8d;
    font-size: 1.6em;
}

.project-button a{
    text-decoration: none;
    position: relative;
    display: block;
}

.button-container::after{
    content: "";
    padding: 30 0;
    display: table;
    clear: both;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 27vh;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.static-image {
    opacity: 1;
}

.gif {
    opacity: 0;
}

.project-button:hover .gif {
    opacity: 1;
}

.project-button:hover .static-image {
    opacity: 0;
}

.info-bar-bottom {
    color: #fff;
    margin: 10px;
    padding: 5px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.info-bar-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.info-bar-bottom ul li {
    display: inline;
    margin-right: 17px;
}

.info-bar-bottom ul li i{
    display: inline;
    margin-right: 5px;
    color: #d18d8d;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.custom-button-link {
    flex: 1;
    margin: 0 5px;
    text-decoration: none;
}

.custom-button {
    width: 100%;
    padding: 10px;
    color: #dcdcdc;
    background-color: #211b1b;
    border: 2px solid #d18d8d;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: #d18d8d;
    color: #211b1b;
}

.button-group .custom-button-link:only-child {
    flex: 0 0 100%;
    margin: 0;
}
.contact-list{
    list-style: none;
    background-image: url(Artboard\ 10.svg);
    background-repeat: no-repeat;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 2vh;
}

.contact-list li a {
    text-decoration: none;
    color: #1d1818;
    transition: color 0.3s;
}
.contact-list li {
    margin: 30 20 30;
    color: #1d1818;
}

.contact-list li i{
    margin-right: 10px;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: #211b1b;
    color: #d18d8d;
    text-align: center;
    padding: 10px 0;
}



/* Media Queries */

@media (max-width: 767px) {
    .navbar {
        text-align: center;
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .container {
        margin: 80px 10px 200px;
    }
    .project-button {
        width: 100%;
        margin: 8px 0;
    }
    .paragraph{
        max-width: 100%;
        text-align: center;
    }
    .photo {
        max-width: 100%;
        margin: 20 0 0;
    }
    h1{
        font-size: 3.5em;
        text-align: center;
        margin: 45 0 0;
    }
    h2{
        font-size: 2.5em;
        text-align: center;
        margin: 45 0 0;
    }
    h3{
        text-align: center;
    }
    hr{
        height: 0;
        margin: 0;
    }
    .contact-list{
        background-image: none;
        font-size: 5vh;
        justify-content: center;
    }
    .contact-list li {
        margin: 0 20 0;
        color: #1d1818;
    }
    .contact-list li a {
        text-decoration: none;
        color: #d18d8d;
    }
    .hidden-on-mobile{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1049px) {
    .project-button {
        width: 100%;
        margin: 20px 0;
    }
    .container {
        margin: 100px 20px 220px;
    }
    h1{
        font-size: 4.5em;
        text-align: center;
    }
    h2{
        font-size: 3.5em;
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .contact-list{
        background-image: none;
        font-size: 10vh;
        justify-content: center;
    }
    .contact-list li {
        margin: 0 20 0;
        color: #1d1818;
    }
    .contact-list li a {
        text-decoration: none;
        color: #d18d8d;
    }
    .hidden-on-mobile{
        display: none;
    }
}

@media (min-width: 1050px) {
    .project-button img{
        max-width: 100%;
        height: 27vh;
        display: block;
    }
    .container {
        margin: 120px 40px 240px;
    }
}